.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  color: #fff;
}

.value {
  font-size: 1.8rem;
}

.inactive {
  color: var(--color-inactive);
}

.active {
  color: var(--color-active);
}
